.reminder {
  border-left: 7px solid orange;
}

.task {
  padding: 2rem;
  font-weight: bolder;
  background-color: lightseagreen;
  color: white;
  text-transform: capitalize;
  margin: 2rem;
  border-radius: 2rem;
  text-align: center;
}
